# **Space X  Falcon 9 First Stage Landing Prediction**

## Lab 2: Data wrangling

In [1]:
import pandas as pd
import numpy as np

### Data Analysis

Load Space X dataset, from last section.

In [2]:
df=pd.read_csv("dataset_part_1.csv")

Identify and calculate the percentage of the missing values in each attribute

In [3]:
df.isnull().sum()/df.count()*100

FlightNumber       0.000
Date               0.000
BoosterVersion     0.000
PayloadMass        0.000
Orbit              0.000
LaunchSite         0.000
Outcome            0.000
Flights            0.000
GridFins           0.000
Reused             0.000
Legs               0.000
LandingPad        40.625
Block              0.000
ReusedCount        0.000
Serial             0.000
Longitude          0.000
Latitude           0.000
dtype: float64

Identify which columns are numerical and categorical:

In [4]:
df.dtypes

FlightNumber        int64
Date               object
BoosterVersion     object
PayloadMass       float64
Orbit              object
LaunchSite         object
Outcome            object
Flights             int64
GridFins             bool
Reused               bool
Legs                 bool
LandingPad         object
Block             float64
ReusedCount         int64
Serial             object
Longitude         float64
Latitude          float64
dtype: object

### TASK 1: Calculate the number of launches on each site

In [5]:
# Apply value_counts() on column LaunchSite
num_launches = df['LaunchSite'].value_counts()
num_launches

CCSFS SLC 40    55
KSC LC 39A      22
VAFB SLC 4E     13
Name: LaunchSite, dtype: int64

### TASK 2: Calculate the number and occurrence of each orbit

In [6]:
# Apply value_counts on Orbit column
orbit_count = df['Orbit'].value_counts()
orbit_count

GTO      27
ISS      21
VLEO     14
PO        9
LEO       7
SSO       5
MEO       3
SO        1
HEO       1
ES-L1     1
GEO       1
Name: Orbit, dtype: int64

### TASK 3: Calculate the number and occurence of mission outcome per orbit type

In [7]:
landing_outcomes = df['Outcome'].value_counts()
landing_outcomes

True ASDS      41
None None      19
True RTLS      14
False ASDS      6
True Ocean      5
False Ocean     2
None ASDS       2
False RTLS      1
Name: Outcome, dtype: int64

In [8]:
bad_outcomes = []
for i,outcome in enumerate(landing_outcomes.keys()):    
    if outcome.find("None")>=0 or outcome.find("False")>=0:
        print(i,outcome)        
        bad_outcomes.append(outcome)

1 None None
3 False ASDS
5 False Ocean
6 None ASDS
7 False RTLS

### TASK 4: Create a landing outcome label from Outcome column

In [9]:
def label_class(row):
    if row['Outcome'].find("None")>=0 or row['Outcome'].find("False")>=0:
        return 0
    else:
        return 1

In [10]:
df['Class'] = df.apply(lambda row: label_class(row), axis = 1)
df[['Class', 'Outcome']]

    Class      Outcome
0       0    None None
1       0    None None
2       0    None None
3       0  False Ocean
4       0    None None
..    ...          ...
85      1    True ASDS
86      1    True ASDS
87      1    True ASDS
88      1    True ASDS
89      1    True ASDS

[90 rows x 2 columns]

In [11]:
df["Class"].mean()
df.to_csv("dataset_part_2.csv", index=False)

<code>df.to_csv("dataset_part\_2.csv", index=False)</code>