In [1]:
#!pip install sqlalchemy==1.3.9
#!pip install ibm_db_sa
#!pip install ipython-sql

In [2]:
%load_ext sql

In [3]:
%sql ibm_db_sa://tkh87771:4onQUImlCW6EHPuK@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/bludb?security=SSL

In [4]:
##Task 1
%sql select unique(launch_site)	 from SPACEXTBL

 * ibm_db_sa://tkh87771:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/bludb
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]

In [5]:
#Task 2
%sql select launch_site from SPACEXTBL where launch_site like 'CCA%' limit 3

 * ibm_db_sa://tkh87771:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/bludb
Done.

[('CCAFS LC-40',), ('CCAFS LC-40',), ('CCAFS LC-40',)]

In [6]:
#Task 3
%sql select sum(payload_mass__kg_) from SPACEXTBL where customer = 'NASA (CRS)'

 * ibm_db_sa://tkh87771:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/bludb
Done.

[(45596,)]

In [7]:
#Task 4
%sql select avg(payload_mass__kg_) from SPACEXTBL where booster_version='F9 v1.1'

 * ibm_db_sa://tkh87771:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/bludb
Done.

[(2928,)]

In [8]:
# Task 5
%sql select max(DATE) from SPaCEXTBL where landing__outcome = 'Success (ground pad)'

 * ibm_db_sa://tkh87771:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/bludb
Done.

[(datetime.date(2018, 1, 8),)]

In [9]:
#Task 6
%sql select booster_version from SPaCEXTBL where landing__outcome = 'Success (drone ship)' and payload_mass__kg_ between 4000 and 6000

 * ibm_db_sa://tkh87771:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/bludb
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

In [10]:
#Task 7
%sql select mission_outcome, count(customer) as Number from SPACEXTBL group by mission_outcome
#%sql select sum (payload_mass__kg_) as Total_Payload_Mass from SPACEXTB

 * ibm_db_sa://tkh87771:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/bludb
Done.

[('Failure (in flight)', 1),
 ('Success', 99),
 ('Success (payload status unclear)', 1)]

In [11]:
#Task 8
%sql select booster_version from SPACEXTBL where payload_mass__kg_ = (select max(payload_mass__kg_) from SPACEXTBL)
#%sql select * from SPACEXTBL where dayname(DATE)='Friday'

 * ibm_db_sa://tkh87771:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/bludb
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2',),
 ('F9 B5 B1058.3',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7',)]

In [12]:
#Task 9
%sql select booster_version, launch_site, landing__outcome, year(DATE) as Year from SPACEXTBL where landing__outcome like '%Failure%' and year(DATE)=2015

 * ibm_db_sa://tkh87771:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/bludb
Done.

[('F9 v1.1 B1012', 'CCAFS LC-40', 'Failure (drone ship)', 2015),
 ('F9 v1.1 B1015', 'CCAFS LC-40', 'Failure (drone ship)', 2015)]

In [13]:
#Task 10
%sql select landing__outcome, count(Customer) as Count from SPACEXTBL where Date between '2010-06-04' and '2017-03-20' group by landing__outcome order by Count Desc

 * ibm_db_sa://tkh87771:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/bludb
Done.

[('No attempt', 10),
 ('Failure (drone ship)', 5),
 ('Success (drone ship)', 5),
 ('Controlled (ocean)', 3),
 ('Success (ground pad)', 3),
 ('Failure (parachute)', 2),
 ('Uncontrolled (ocean)', 2),
 ('Precluded (drone ship)', 1)]